.wp-block-quote{
    display: flex;
    flex-direction: column;
    border-left: none !important;
    padding: 0  0  0  50px !important;
    font-family: "IBM Plex Sans",serif;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        left: 0;top: 0;
        width: 30px;
        height: 30px;
        background: url('assets/images/icons/quote.png') no-repeat center;
    }
    h5,p{
        font-style: normal;
        text-align: right;
    }
    h5{
        margin-top: 20px;
        order: 2;
    }
    p{
        order: 3;
    }
    cite{
        font-size: 27px;
        font-style: normal;
        line-height: 40.5px;
        color: $primary;
        @include phone-only{
            font-size: 20px;
            line-height: 1.4;
        }
    }
}
