/**
 * ███████╗███████╗██████╗ ███████╗██████╗  █████╗ ████████╗ ██████╗ ██████╗
 * ██╔════╝██╔════╝██╔══██╗██╔════╝██╔══██╗██╔══██╗╚══██╔══╝██╔═══██╗██╔══██╗
 * ███████╗█████╗  ██████╔╝█████╗  ██████╔╝███████║   ██║   ██║   ██║██████╔╝
 * ╚════██║██╔══╝  ██╔═══╝ ██╔══╝  ██╔══██╗██╔══██║   ██║   ██║   ██║██╔══██╗
 * ███████║███████╗██║     ███████╗██║  ██║██║  ██║   ██║   ╚██████╔╝██║  ██║
 * ╚══════╝╚══════╝╚═╝     ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝  ╚═╝
 *
 * Core WP Block
 */

.wp-block-separator {
	border: 0;
	border-top: 2px solid $primary;
	box-sizing: border-box;
	opacity: 1;

	&.alignwide {
		width: var(--page-width);
	}
}
