.wp-block-pool4u-section {
	background: $section;
	padding: 80px 0;
	&.is-style-margin-top{
		margin-top: 130px;

	}
	@include phone-only{
		padding: 40px 0;
	}
	&.is-style-yellow{
		background: $yellow;
	}
	.wp-block-pool4u-image-text{
		padding: 0;
	}
	&.center{
		text-align: center;
		h6{
			text-transform: uppercase;
		}
	}
}
