.brochures-block{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    &__wrapper{
        
        width: 100%;

      @include tablet-l-up{
          width: 25%;

      }
            

            
    

        img, &-title, &-desc{
            margin-bottom: 24px;
            @include font("default");
            color: $primary;
        }
        .wp-block-buttons{
            .wp-block-button__link{
                @include font('buttons', 700, 13px);
                background: $primary;
            }
        }
    }
}
