/**
 *  ██████╗ ██████╗ ██╗     ██╗   ██╗███╗   ███╗███╗   ██╗███████╗
 * ██╔════╝██╔═══██╗██║     ██║   ██║████╗ ████║████╗  ██║██╔════╝
 * ██║     ██║   ██║██║     ██║   ██║██╔████╔██║██╔██╗ ██║███████╗
 * ██║     ██║   ██║██║     ██║   ██║██║╚██╔╝██║██║╚██╗██║╚════██║
 * ╚██████╗╚██████╔╝███████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚████║███████║
 *  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚══════╝
 *
 * Core WP Block
 */
p + .wp-block-columns{
	margin: 40px 0;
}


 .wp-block-columns{
	margin: 80px 0;
	justify-content: space-between;

	.wp-block-column {

		&.is-style-background{
			background-color: $white;
			border-radius: 10px;
			padding: 30px;
		}
	}


}
