/*
	oooooooooo.                  .       .
	`888'   `Y8b               .o8     .o8
	 888     888 oooo  oooo  .o888oo .o888oo  .ooooo.  ooo. .oo.    .oooo.o
	 888oooo888' `888  `888    888     888   d88' `88b `888P"Y88b  d88(  "8
	 888    `88b  888   888    888     888   888   888  888   888  `"Y88b.
	 888    .88P  888   888    888 .   888 . 888   888  888   888  o.  )88b
	o888bood8P'   `V88V"V8P'   "888"   "888" `Y8bod8P' o888o o888o 8""888P'
 */


/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 */
.btn,
.wp-block-button__link {
    position: relative;
	background-color: $cyan;
    border: 1px solid $cyan;
	border-radius: 100px;
	color: $btn-text;
    cursor: pointer; /* [5] */
    display: inline-block; /* [1] */
    margin:  0; /* [4] */
    max-width: 100%;
    overflow: visible; /* [6] */
    padding: 10px 24px;
    text-align: center; /* [4] */
    text-decoration: none !important; /* [4] */
    user-select: none;
    vertical-align: middle; /* [2] */
    transition: all .2s;
	@include font("default", $size: 15px, $weight: 400, $line-height: 17px);
    text-transform: uppercase;
    letter-spacing: 1px;
        &.tertiary{
            background: $yellow;
            color: $primary;
            &::after{
                border-right: 1px solid $primary;
                border-bottom: 1px solid $primary;
            }
        }
    @include tablet-p-up {
        width: unset;
    }



    &:disabled {
    	cursor: not-allowed;
    	opacity: .7;
    }

    /**
     * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
     */
    &::-moz-focus-inner {
        border:  0;
        padding: 0;
    }

    &.center {
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }

}
.wp-block-button{
    .wp-block-button__link{

        &:hover {
            background-color: darken($color: $cyan, $amount: 10);
        }
        &.tertiary{
            &:hover{
                background-color: $btn-tertiary-hover;
                color: $primary;
            }

        }
    }
     + .wp-block-button{
        .wp-block-button__link{
            
            background: $white;
            color: $primary !important;
            &:hover{
                background: darken($color: $cyan, $amount: 10);
                color: $white !important;
            }
            
        }
        
    }
}
.is-layout-flex{
    gap: 1em;
}
