.case-studies-archive{
    position: relative;
    &__header-wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        h1, .case-header__filter{
            width: 100%;
            @include tablet-l-up{
                width: 50%;
                margin-bottom: 0;

            }
        }
        .case-header__filter{
            text-align: right;
            &-label{
                @include font('default', 500, 13px);
                margin-bottom: 10px;
            }
            .case-filter__buttons-wrapper{
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                @include font("buttons", 700, 13px);
                text-transform: uppercase;
                color: $orange;
                gap: 10px;
                @include tablet-l-up{
                    gap: 20px;

                }
                .case-filter__button{
                    cursor: pointer;
                    transition: all .2s;
                    width: auto;
                    &:last-child{
                        @media only screen and (max-width: 400px) {
                            width: 100%;
                        }
                    }
                    &.active{
                        padding-right: 18px;
                        color: $primary;
                        position: relative;
                        &::after, &::before{
                            position: absolute;
                            content: '';
                            width: 15px;
                            height: 2px;
                            background: $primary;
                            transform: rotate(45deg);
                            top: 50%;
                            right: 0;

                        }
                        &::before{
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
    .archive-header__preamble{
        width: 100%;
        @include tablet-l-up{
            width: 70%;
        }
        
    }
    .wrapper.full{
        background: $cyan90;
        .case-studies-archive__content{
            padding: 90px 0;
            max-width: $page-width;
            margin: auto;
            .case-study__wrapp{
                background: $white;
                display: flex;
                border-radius: 10px;
                overflow: hidden;
                gap: 24px;
                flex-wrap: wrap;
                @include tablet-l-up{
                    flex-wrap: nowrap;
                }
                &.reverse{
                    flex-direction: row-reverse;
                }
                &.hide{
                    display: none;
                }
                &.disable{
                    display: none;
                }
                &-item{
                    width: 100%;
                    @include tablet-l-up{
                        width: 50%;
                    }
                    &--category{
                        @include font("buttons", 700, 13px);
                        text-transform: uppercase;
                        color: $orange;
                    }
                    &--title{
                        margin: 0;
                    }
                    &--excerpt{
                        margin-bottom: 20px;
                    }
                    .wp-block-button{
                        margin-bottom: 40px;
                        @include tablet-l-up{
                            margin-bottom: 70px;
                        }
                    }
                    .case-studies__location{
                        padding-left: 30px;
                        position: relative;
                        font-size: 13px;
                        &::after{
                            position: absolute;
                            content: '';
                            width: 24px;
                            height: 24px;
                            background: url("assets/images/map_pin-green.png") center no-repeat;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            z-index: 5;
                        }
                    }
                    img{
                        aspect-ratio: 4 / 3;
                        width: 100%;
                        object-fit: cover;
                    }
                    &.content{
                        align-self: center;
                        padding: 0 24px 24px 24px;
                        @include tablet-l-up{
                            padding: 0 100px;
                        }
                    }
                }
                & + .case-study__wrapp{
                    margin-top: 24px;
                } 

            }
        }
    }
    .show-more-cases, .show-more-cases-filter{
        @include tablet-l-up{
            bottom: 50px;
        }
        white-space: nowrap;
        position: absolute;
        background: $header;
        color: $white;
        display: inline-block;
        left: 50%;
        bottom: 22px;
        transform: translateX(-50%);
        padding: 10px 15px;
        border-radius: 20px;
        @include font('buttons', 700, 13px);
        text-transform: uppercase;
        cursor: pointer;
    }
    .show-more-cases-filter.hide, .show-more-cases.hide{
        display: none;
    }
}
