/**
 * ██╗  ██╗ █████╗ ███╗   ███╗██████╗ ██╗   ██╗██████╗  ██████╗ ███████╗██████╗
 * ██║  ██║██╔══██╗████╗ ████║██╔══██╗██║   ██║██╔══██╗██╔════╝ ██╔════╝██╔══██╗
 * ███████║███████║██╔████╔██║██████╔╝██║   ██║██████╔╝██║  ███╗█████╗  ██████╔╝
 * ██╔══██║██╔══██║██║╚██╔╝██║██╔══██╗██║   ██║██╔══██╗██║   ██║██╔══╝  ██╔══██╗
 * ██║  ██║██║  ██║██║ ╚═╝ ██║██████╔╝╚██████╔╝██║  ██║╚██████╔╝███████╗██║  ██║
 * ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝  ╚═╝
 *
 */

 .hamburger {
	cursor: pointer;
	transition: transform .1s;
   margin-right: $base-spacing-unit;
	@include desktop-up {
		display: none;
	}

	&:hover {
		.hamburger__bar.top {
			transform: translateY(2px);
		}

		.hamburger__bar.bottom {
			transform: translateY(-2px);
		}


	}

	&.active {
		&:hover {
			transform: scale(.85);
		}

		.hamburger__bar {
			&.top {
				transform: translateY(8px) rotate(45deg);
			}

			&.bottom {
				transform: translateY(-8px) rotate(-45deg);
			}

		}
	}
}

.hamburger__bar {
	background-color: $primary;
	border-radius: 1px;
	height: 3px;
	transition: transform .15s, opacity .15s;
	width: 24px;
	position: relative;
	z-index: 10001;
	&.top,
	&.bottom {
		margin: 13px 0;
	}
}
