/*
	ooooo   ooooo                           .o8
	`888'   `888'                          "888
	 888     888   .ooooo.   .oooo.    .oooo888   .ooooo.  oooo d8b
	 888ooooo888  d88' `88b `P  )88b  d88' `888  d88' `88b `888""8P
	 888     888  888ooo888  .oP"888  888   888  888ooo888  888
	 888     888  888    .o d8(  888  888   888  888    .o  888
	o888o   o888o `Y8bod8P' `Y888""8o `Y8bod88P" `Y8bod8P' d888b
 */

.admin-bar{
	.site-header{
		nav.main-navigation.hamburger-menu{
			
				top: 67px;
				.menu__btn{
					top: 78px;
				}
				ul.menu.nav-items{
					top: 46px;
				}
			

		}

	}
}
 .site-header {
	background: transparent;
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom: 1px solid rgba($color: #141414, $alpha: 0.2);
	position: relative;
	z-index: 2;
	padding: 16px 24px;
	@include desktop-up{
		height: auto;
		padding: 20px 0;
	}
	@include phone-only{
		border-bottom: none;
	}
	&__container{
		max-width: $page-width;
		display: flex;
		align-items: center;
		width: 100%;
		background-color: transparent;
	}
	.site-branding {
		flex-shrink: 0;
		margin-left: 0;
		overflow: hidden;
		transition: 0.3s;
		@include phone-only{
			margin-left: 0;
		}
	
		.site-title {
			width: 160px;
			display: flex;
			align-items: center;
			@include phone-only{
				padding: 10px;
				background-color: $white;
				border-radius: 10px;
			}
			@include tablet-landscape {
				width: auto;
			}


			@include big-desktop-up {
				width:210px;
			}
			img{
				@include phone-only{
					width: 50px;
				}
			}
		}
	}

	.main-navigation {
		width: 100%;
		#menu__toggle {
			display: none;
			&:checked ~ .menu__btn > span {
				transform: rotate(45deg);
			  }
			  &:checked ~ .menu__btn > span::before {
				top: 0;
				transform: rotate(0);
			  }
			  &:checked ~ .menu__btn > span::after {
				top: 0;
				transform: rotate(90deg);
			  }
			  &:checked ~ .nav-items {
				visibility: visible;
				left: calc(100% - 200px);
			  }
			  &:checked ~ .nav-items {
				visibility: visible;
				left: calc(100% - 200px);
			  }
		}
		&.hamburger-menu{
			position: fixed;
			display: block;
			background: rgba($white, 0.7);
			width: 50px;
			height: 50px;
			border-radius: 10px;
			top: 20px;
			right: 20px;
			list-style: none;
	
			@include tablet-l-up {
				position: unset;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 0;
				width: 100%;
				background: transparent;
			}
			.menu__btn{
				display: flex;
				align-items: center;
				position: fixed;
				top: 32px;
				right: 32px;
				width: 26px;
				height: 26px;
				cursor: pointer;
				z-index: 10001;
				& > span,
				& > span::before,
				& > span::after {
					display: block;
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $black;
				}
				& > span::before {
				content: "";
				top: -8px;
				}
				& > span::after {
				content: "";
				top: 8px;
				}
	
			}
			@include tablet-l-up{
				.menu__btn{
					display: none;
				}

			}
			.menu.nav-items {
				display: block;
				position: fixed;
				visibility: hidden;
				top: 0;
				left: 100%;
				width: 200px;
				margin: 0;
				padding: 50px 0 20px 0px;
				background: $white;
				box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
				z-index: auto;
				border-bottom-left-radius: 25px;
				transition-duration: .25s;
				@include tablet-l-up{
					position: unset;
					display: flex;
					width: 100%;
					align-items: center;
					list-style: none;
					margin-bottom: 0;
					margin-top: 0;
					visibility: visible;
					background: transparent ;
					border-bottom-left-radius: 0;
					box-shadow: none;
					padding: 0;
				}
				.menu-item {
					display: block;
					padding: 16px 60px 16px 0;
					text-align: right;
					&:last-child{
						border-top: 1px solid rgba($black, .5);
						padding: 16px 84px 16px 0;
						@include tablet-l-up{
							border-top: none;
							cursor: pointer;
							padding: 5px 20px;

						}
						a::after{
							position: unset;
						}
					}
					@include tablet-l-up{
						align-items: center;
						border-left: 1px solid transparent;
						position: relative;
						padding: 5px 20px;
						text-align: left;
						a{
							color: $white;
						}
						&:first-child, &:nth-child(2){
							a{
								color: $primary;
							}
						}
						&:nth-child(2){
							flex-grow: 1;
						}

					}
					&.menu-item-has-children{
						margin-right: 0;
						@include tablet-l-up{
							margin-right: 16px;
						}
					
						&::after{
							position: absolute;
							content:'';
							width: 7px;
							height: 7px;
							top: 50%;
							transform: rotate(-45deg) translateY(-50%);
							border-bottom: 2px solid $primary;
							border-left: 2px solid $primary;
							right: 60px;
							@include tablet-l-up{
								right: 0;
								border-bottom: 2px solid $white;
								border-left: 2px solid $white;
							}
						}
						&:hover{
							.sub-menu{
								top: 30px;
								opacity: 1;
							}
						}
						.sub-menu {
							transition: all .3s;
							position: absolute;
							top: 0;
							opacity: 0;
							list-style: none;
							margin-left: 0;
							width: auto;
							left: 50%;
							@include tablet-l-up{
								left: unset;
							}
							.menu-item{
								padding: 5px 0;
								border-top: none;
								a{
									z-index: 3;
									&:hover{
										&::after{
											opacity: 1 !important;
											z-index: -1;
										}
									}
									&::after{
										position: unset;
										
									}
								}
								&:last-child{
									background: transparent;
									a{
										color: $primary;

									}
								}
							}
						}
					}
	
					
						a {
							color: $primary;
							text-decoration: none;
							position: relative;
							font-size: 15px;
		
							&::after{
								position: absolute;
								content: '';
								height: 7px;
								background: $yellow;
								width: 100%;
								bottom: 0;left: 0;
								z-index: -1;
								opacity: 0;
								transition: opacity .3s ease-out;
							}
		
							
							&:hover {
								&::after {
									opacity: 1;
								}
							}
						}

					
					&.pll-parent-menu-item{
						position: relative;
					}
	
					&.current-menu-item,
					&.current-menu-parent {
						a::after {
							width: 100%;
						}
					}
					&.current-menu-item {
						position: relative;
						a {
							
							&::after {
	
								opacity: 1;
							}
						}
						.sub-menu .menu-item{
							a{
								&::after{
									opacity: 0;
								}
							}
						}
					}
				}
	
				&.menu-open .menu-item {
					border-color: $primary;
				}
			}
		}

	}

}

