/**
 * ███████╗██╗████████╗███████╗
 * ██╔════╝██║╚══██╔══╝██╔════╝
 * ███████╗██║   ██║   █████╗
 * ╚════██║██║   ██║   ██╔══╝
 * ███████║██║   ██║   ███████╗
 * ╚══════╝╚═╝   ╚═╝   ╚══════╝
 *
 */

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex-grow: 1;
	margin-top: -111px;
	position: relative;
	z-index: 1;
	&:not(:has(.wp-block-pool4u-intro)){
		margin-top: 0;
		padding: 50px 24px;
	}
	.site-main{
		.entry-header{
			.entry-title{
				max-width: calc($page-width + 48px);
				width: 100%;
				margin: auto;
				padding: 0 24px;
			}
		}
	}
}
