.wp-block-headspin-subscribe-form{
    max-width: 600px; 
    width: 100%;
    margin: auto;
    position: relative;
    .subscribe-form{

        .subscribe-form__wrapper{
            position: relative;
            input[type="email"]{
                height: 60px;
                border-radius: 30px;
                background: $white;
                padding: 0 40px;
                width: 100%;
            }
            .wp-block-button__link.submit-btn{
                @include font('buttons', 700, 13px);
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                background: $teal;
                color: $white;
                border: 2px solid $teal;
                padding: 0.6em 1em;
                z-index: 3;
                &:hover{
                    background: darken($color: $teal, $amount: 5);
                    
                }
    
                .dots {
                    align-items: center;
                    background: inherit;
                    border-radius: 100px;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                    left: 0;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    transition: opacity .2s;
                    width: 100%;
                    z-index: 5;
        
                    .dot {
                        animation: pulse 1.4s ease infinite;
                        background: $white;
                        border-radius: 100px;
                        height: 6px;
                        margin: 0 6px;
                        width: 6px;
        
                        &:nth-of-type(2) {
                            animation-delay: .2s;
                        }
        
                        &:nth-of-type(3) {
                            animation-delay: .4s;
                        }
                    }
                }
            }
    

        }
        &.sending{
            .subscribe-form__wrapper{

                .email, .submit-btn{
                   cursor: wait;
               }
               .submit-btn{

                   .dots {
                       opacity: 1;
                   }
               }
            }
    
        }

    }
    .subscribe-form__container{
        margin-top: 12px;
        &-item{
            padding: 12px 40px;
            display: flex;
            align-items: center;
            @include phone-only{
                padding: 12px 0;
            }
            label{
                margin-bottom: 0;
                padding-left: 12px;
                @include font('default', 400, 18px);
            }
        }
    }
    .messages{
        list-style: none;
        margin-left: 0;
        .error, .success{
            @include font("buttons");
            color: $orange;
            text-align: center;
        }
        .success{
            color: $teal;
        }
    }
    @keyframes pulse {
		from {
			transform: scale(1);
		}

		50% {
			transform: scale(2);
		}

		to {
			transform: scale(1);
		}
	}

}
